@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url('/cursors/cursor-dark.svg'), default;
}

html.dark body {
  cursor: url('/cursors/cursor-light.svg'), default;
}

input,
textarea,
select {
  @apply bg-white text-black border dark:bg-gray-700 dark:text-white dark:border-gray-600;
  caret-color: #3b82f6; /* blue-500 */
}
